name: Build and Test
on:
  push:
    branches: [main]
    paths-ignore:
      - README.md
      - .github/workflows/lint.yml
      - .github/workflows/build-image.yml
      - .github/workflows/test-build-image.yml
      - Procfile
      - Aptfile
      - .editorconfig
      - .prettierrc
      - renovate.json
      - air.conf
      - config.template.toml
      - .vscode/
  pull_request:
    branches: [main]
  workflow_dispatch:
  merge_group:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: go-task/setup-task@v1
      - uses: oven-sh/setup-bun@v2
        with:
          node-version: 24
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build
        run: task build

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Test
        run: go test -v ./...
