name: Lint
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  merge_group:

jobs:
  lint:
    name: GolangCi-Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: GolangCi-Lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.9.0
          args: --timeout=5m
          install-mode: 'binary'
