package components

templ AlertSuccess(message string) {
	<div class="alert alert-success" role="alert">{ message }</div>
}

templ AlertError(message string) {
	<div class="alert alert-error" role="alert">{ message }</div>
}
