package components

templ AlertSuccess(message string) {
	<span data-save-success class="hidden">{ message }</span>
}

templ AlertError(message string) {
	<div class="alert alert-error" role="alert">{ message }</div>
}
